In [70]:
import pandas as pd
import numpy as np

In [71]:
dataset=pd.read_csv("data/FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding="latin-1")

dataset

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
12121,39,Chad,2763,Pelagic Fish,5154,Other uses (non-food),1000 tonnes,0.00,0.00,0.00,0.00,0.00
12122,39,Chad,2763,Pelagic Fish,5142,Food,1000 tonnes,1.85,0.67,0.52,0.25,0.25
12123,39,Chad,2763,Pelagic Fish,645,Food supply quantity (kg/capita/yr),kg,0.14,0.05,0.04,0.02,0.02
12124,39,Chad,2763,Pelagic Fish,664,Food supply (kcal/capita/day),kcal/capita/day,0.00,0.00,0.00,0.00,0.00
12125,39,Chad,2763,Pelagic Fish,674,Protein supply quantity (g/capita/day),g/capita/da,NaN,NaN,NaN,NaN,NaN

In [73]:
q17=dataset.iloc[:]
q17

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
12121,39,Chad,2763,Pelagic Fish,5154,Other uses (non-food),1000 tonnes,0.00,0.00,0.00,0.00,0.00
12122,39,Chad,2763,Pelagic Fish,5142,Food,1000 tonnes,1.85,0.67,0.52,0.25,0.25
12123,39,Chad,2763,Pelagic Fish,645,Food supply quantity (kg/capita/yr),kg,0.14,0.05,0.04,0.02,0.02
12124,39,Chad,2763,Pelagic Fish,664,Food supply (kcal/capita/day),kcal/capita/day,0.00,0.00,0.00,0.00,0.00
12125,39,Chad,2763,Pelagic Fish,674,Protein supply quantity (g/capita/day),g/capita/da,NaN,NaN,NaN,NaN,NaN


q3=dataset.shape()

q3

In [33]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12126 entries, 0 to 12125
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     12126 non-null  int64
 1   Area          12126 non-null  object
 2   Item Code     12126 non-null  int64
 3   Item          12126 non-null  object
 4   Element Code  12126 non-null  int64
 5   Element       12126 non-null  object
 6   Unit          12126 non-null  object
 7   Y2014         11806 non-null  float64
 8   Y2015         11827 non-null  float64
 9   Y2016         11807 non-null  float64
 10  Y2017         11776 non-null  float64
 11  Y2018         11826 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 947.4+ KB

In [76]:
q1=pd.dataset["Y2017", "Area"].groupby(["Area"])

q1

<class 'AttributeError'>: module 'pandas' has no attribute 'dataset'

In [67]:
q10=dataset.items()

In [35]:
Q18


y = [(2, 4), (7, 8), (1, 5, 9)]

In [38]:

x=y[1][1]
x

8

In [46]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

<class 'TypeError'>: 'tuple' object does not support item assignment

In [57]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

In [65]:
q9=dataset["Area"].unique().sum()
q9

'AlgeriaAngolaBeninBotswanaBurkina FasoCabo VerdeCameroonCentral African RepublicChad'

In [44]:
q14=dataset["Y2015"].quantile()
q14

0.02

In [58]:
q7=np.corrcoef(dataset["Element"])

<class 'TypeError'>: unsupported operand type(s) for /: 'str' and 'int'

In [ ]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = [â€˜Ageâ€™,â€™Nationalityâ€™,â€™Overallâ€™]

In [ ]:
q=pd.DataFrame